.student-add-view{
    margin-left: 192px;
}

label{
    font-size: 17px;
    padding: 10px;
}

input{
    padding: 5px;
}

button{
    padding: 5px;
    margin-left: 5px;
    background: blue;
    color: white;
    width: 80px;
}